
@{
    ViewBag.Title = "DelectDb";
}

<h2>刪除資料</h2>

<form action="/Home/DelectDb" method="post">
    <label for="Name">ID:</label>
    <input type="text" name="ID" value="" /> <br />
    <button type="submit">刪除</button>
</form>