
@{
    ViewBag.Title = "InsertDb";
}

<h2>新增資料</h2>
<form action="/Home/InsertDb" method="post">
    <label for="Name">姓名:</label>
    <input type="text" name="Name" value="" /> <br/>
    <label for="CompanyName">公司名:</label>
    <input type="text" name="CompanyName" value="" /> <br />
    <label for="Phone">電話:</label>
    <input type="text" name="Phone" value="" /> <br />
    <button type="submit">新增</button>
</form>
